<!DOCTYPE html>
<html lang="en">

    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  
        <title>Tolqinov Azamat</title>


    </head>

    <body>
        <header class="header-area header-sticky">
            <div class="container">
                  <div class="row">
                      <div  class="col-12">
                      <nav class="main-nav" style="width:1600px;">
                          <a href="{% url 'home' %}" class="logo">Study<em>&nbsp;&nbsp;&nbsp;UZ</em></a>
                          <ul class="nav">
                            <li></li>
                            <li><a href="{% url 'ctg_one' slug='it' %}">Маркетинг</a></li>
                            <li><a href="{% url 'ctg_one' slug='it' %}">IT</a></li>
                            <li><a href="{% url 'ctg_one' slug='lang' %}">Иностранные языки</a></li>
                            <li><a href="{% url 'ctg_one' slug='maktab' %}">Частные школы</a></li>
                            <li><a href="{% url 'ctg_one' slug='maktabgacha'%}">Дошкольная подготовка</a></li>
                            <li></li>
                            <li></li>
                          </ul>
                    </nav>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
